.Equation{
  position:absolute;
  left:0;
  width:20%;
  height: 40px;
  top:0;
}

.output{
  position:absolute;
  right:0;
  width:80%;
  height: 40px;
  top:0;
}

.vars{
  position:absolute;
  left:0;
  width:20%;
  top:40px;
  bottom:0;
}

.varInputLable{
  margin-left: 1em;
}

.varInput{
  margin-left: 1em;
}

.canvasWrap, .canvasWrap2{
  position:absolute;
  left:60%;
  width:40%;
  right:0;
  top:40px;
  bottom:0;
  overflow:hidden;
}

.canvasWrap2{
  left:20%;
}

ul
{
    list-style-type: none;
    padding:1px;
}
